body {
    background-color: #3b3b3b;
}

.container {
    background-color: lightyellow;
    border: 1px solid red;
    padding: 2px;
    color: blue;
}

.inlineElement {
    display: inline;
}
.inlineBlockElement {
    display: inline-block;
    width: 500px;
}